h1, .h1 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	text-align: center;
	margin: 0;
	
}

h1, .h1 {
	font-family: $ff;
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 25px;
	color: $white;
	font-size: 21px;

	@media all and (min-width: $lg) {
		font-size: 64px;
		line-height: 77px;
		padding: 0 50px;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin: 0;
}

b, strong {
	font-weight: $fw-bold
}