// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: Arial, sans-serif;
$ff-title	: Arial, sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;

// Others.
$tr: 0.35s;