// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1320px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Exo 2', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 21px;
$fs-xl	: 28px;

// Font weights.
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 34px;
$lh-title	: 77px;

// Colors.
$white	: #FFFFFF;
$black	: #000000;

// Others.
$tr: 0.35s;
$op: 0.75;