.footer {
	padding-bottom: 68px;

	&-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}

	}

	&-mail, &-phone {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: $white;

		@media all and (min-width: $md) {
			font-size: 20px;
			line-height: 24px;
		}

		@media all and (min-width: $xl) {
			font-size: 28px;
			line-height: 34px;
		}
	}

	&-address {
		order: 3;

		@media all and (min-width: $lg) {
			order: 1;
		}
	}

	&-mail {
		@media all and (min-width: $lg) {
			margin-right: 88px;
		}
	}

	&-phone {
		order: 2;
		@media all and (min-width: $lg) {
			margin-right: 87px;
		}
	}

	&-links {
		display: flex;
		align-items: center;
	}

	&-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		background-color: $white;
		border-radius: 50%;
		margin-right: 31px;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 30px;
			height: 30px;
		}
	}

	&-contacts {
		order: 4;
		margin-top: 30px;

		@media all and (min-width: $lg) {
			margin-right: 31px;
			order: 3;
			margin-top: 0;
		}
	}
}

.form-button, .send-button {
	cursor: pointer;
	border-style: none;
	border: 0;
	padding: 18px 28px;
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-medium;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: $black;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 61px;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}

	@media all and (min-width: $lg) {
		font-size: 20px;
	}
}

.send-button {
	padding: 10px 22px;

	@media all and (min-width: $lg) {
		padding: 18px 28px;
	}
}

.form-button {
	order: 1;
	margin-bottom: 50px;
	padding: 12px 53px;

	@media all and (min-width: $md) {
		padding: 16px 28px;
		font-size: 16px;
	}

	@media all and (min-width: $lg) {
		font-size: 20px;
		order: 4;
		margin-bottom: 0;
	}
}