.bg {
	position: absolute;
	width: 100%;
	height: 100%;

	.desktop-bg1, .desktop-bg2, .desktop-bg3, .desktop-bg4, .mobile-bg1,
	.mobile-bg2, .mobile-bg3, .mobile-bg4, .tablet-bg1, .tablet-bg2,
	.tablet-bg3, .tablet-bg4  {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}

	.mobile-bg1, .mobile-bg2, .mobile-bg3, .mobile-bg4 {
		@media all and (min-width: $xs) {
				display: block;
		}

		@media all and (min-width: $md) {
			display: none;
		}
	}

	.tablet-bg1, .tablet-bg2, .tablet-bg3, .tablet-bg4 {
		@media all and (min-width: $md) {
				display: block;
		}

		@media all and (min-width: $xl) {
			display: none;
		}
	}

	.desktop-bg1, .desktop-bg2, .desktop-bg3, .desktop-bg4 {
		@media all and (min-width: $xl) {
				display: block;
		}
	}

	.desktop-bg1, .mobile-bg1, .tablet-bg1 {
		animation: fade 3s ease infinite alternate-reverse;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg2, .mobile-bg2, .tablet-bg2 {
		animation: fade 3s ease infinite alternate-reverse 1s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg3, .mobile-bg3, .tablet-bg3 {
		animation: fade 3s ease infinite alternate-reverse 2s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg4, .mobile-bg4, .tablet-bg4 {
		animation: fade 3s ease infinite alternate-reverse 3s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}
}