.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background-repeat: no-repeat;
	background-size: cover;
	animation: fadeBg 30s ease alternate-reverse infinite;

	@keyframes fadeBg {

		0% {
			background-image: url( '../img/main/bg-desktop2.png' );
			opacity: 0;
		}

		25% {
			background-image: url( '../img/main/bg-desktop2.png' );
			opacity: 1;
		}

		37.5% {
			background-image: url( '../img/main/bg-desktop3.png' );
			opacity: 0;
		}

		50% {
			background-image: url( '../img/main/bg-desktop3.png' );
			opacity: 1;
		}

		62.5% {
			background-image: url( '../img/main/bg-desktop4.png' );
			opacity: 0;
		}

		75% {
			background-image: url( '../img/main/bg-desktop4.png' );
			opacity: 1;
		}

		85% {
			background-image: url( '../img/main/bg-desktop1.png' );
			opacity: 0;
		}

		100% {
			background-image: url( '../img/main/bg-desktop1.png' );
			opacity: 1;
		}
	}
}