.bg {
	position: absolute;
	width: 100%;
	height: 100%;

	.desktop-bg1, .desktop-bg2, .desktop-bg3, .desktop-bg4 {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}

	.desktop-bg1 {
		animation: fade 3s ease infinite alternate-reverse;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg2 {
		animation: fade 3s ease infinite alternate-reverse 1s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg3 {
		animation: fade 3s ease infinite alternate-reverse 2s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}

	.desktop-bg4 {
		animation: fade 3s ease infinite alternate-reverse 3s;

		@keyframes fade {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}
}